 .memory-card {
     margin: 1px;
 }

 .memory-card-title {
     font-size: larger;
 }
 
 .memory-card-footer {

     text-align: center;
 }

 .mat-expansion-panel-header.mat-expanded {
     height: 40px;
 }

 .icon {
     color: brown;
 }

 .mat-card-panel-header {
     /* background: white; */
     font-size: larger;
 }

 .actions {
     background: powderblue;
 }

 .mat-card-panel-header:hover {
    background: whitesmoke !important;
} 

 mat-expansion-panel {
     /* background-color: #b4ffdb2b  !important; */
     background-color: white  !important;
 }
 
.actions-icon {
    color:#09a7a7; 
    font-size: x-large ;
  }
  
  .actions {  
    background-color: transparent;
  }
   