<mat-accordion class="memory-card mat-elevation-z2">
    <mat-expansion-panel class="memory-card-panel" [expanded]="panelOpenState">
        <mat-expansion-panel-header class="mat-card-panel-header">
            <mat-panel-title class="memory-card-title" fxFlex.lt-md="100" fxFlex.lt-lg="50" fxFlex="35">
                <mat-icon [class]="'icon'" [inline]="true">subtitles</mat-icon>{{memory.title}}
            </mat-panel-title>
            <mat-panel-title fxFlex.lt-lg="25" fxFlex.lt-md="50" fxFlex="35" fxHide.lt-sm>
                <mat-icon [class]="'icon'" [inline]="true">account_tree </mat-icon> {{memory.organization.title}}
            </mat-panel-title>
            <mat-panel-title fxFlex="35" fxHide.lt-md>
                <mat-icon [class]="'icon'" [inline]="true">radio_button_checked</mat-icon>
                {{memory.memoryType.title}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <mat-card-content class="memory-card-content">
            <div fxHide.gt-xs>
                <mat-icon [class]="'icon'" [inline]="true">account_tree</mat-icon> {{memory.organization.title}}
            </div>
            <div fxHide.gt-sm>
                <mat-icon [class]="'icon'" [inline]="true">radio_button_checked</mat-icon>
                {{memory.memoryType.title}}
            </div> 
            <div class="container" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>
                <div *ngIf="(decode || !memory.isUserNameSecure) && memory.userName" fxFlex.lt-xs="100" fxFlex.gt-xs="50" >
                    <mat-icon [class]="'icon'" [inline]="true">person</mat-icon>{{memory.userName}}
                </div>
                <div *ngIf="(decode ||!memory.isUEmailSecure) && memory.email" fxFlex.lt-xs="100" fxFlex.gt-xs="50">
                    <mat-icon [class]="'icon'" [inline]="true">mail</mat-icon><a style="color: black;"
                        href="mailto:{{memory.email}}" target="_blank">{{memory.email}}</a>
                </div>
            </div>
            <div class="container" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>
                <div *ngIf="(decode ||!memory.isHostOrIpAddressSecure) && memory.hostOrIpAddress" fxFlex.lt-xs="100"
                    fxFlex.gt-xs="50">
                    <mat-icon [class]="'icon'" [inline]="true">cloud</mat-icon>{{memory.hostOrIpAddress}}
                </div>
                <div *ngIf="(decode ||!memory.isPortSecure) && memory.port" fxFlex.lt-xs="100" fxFlex.gt-xs="50">
                    <mat-icon [class]="'icon'" [inline]="true">directions</mat-icon>{{memory.port}}
                </div>

            </div>
            <div  *ngIf="decode" class="container" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>

                <div *ngIf="memory.password" fxFlex.lt-xs="100" fxFlex.gt-xs="100">
                    <mat-icon [class]="'icon'" [inline]="true">key</mat-icon>{{memory.password}}
                </div>
                
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer class="memory-card-footer">
            <mat-card-actions>
                <button mat-icon-button  color="primary" aria-label="View memory" [title]="'Read'"
                    (click)="openDialog(memory.id, 'read', '3000ms', '1500ms')">
                    <mat-icon>lock_open</mat-icon>
                </button>
                <button mat-icon-button   color="primary" aria-label="View memory" [title]="'Edit'"
                    (click)="openDialog(memory.id,  'edit','3000ms', '1500ms')">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button  color="primary" aria-label="View memory" [title]="'Read'"
                    (click)="openDialog(memory.id, 'read', '3000ms', '1500ms')">
                    <mat-icon>remove_red_eye</mat-icon>
                </button>
                <button mat-icon-button   color="primary" aria-label="View history" [title]="'History'"
                    (click)="openDialog(memory.id, 'history', '3000ms', '1500ms')">
                    <mat-icon>history</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card-footer>
    </mat-expansion-panel>
</mat-accordion>
<mat-card class="memory-card mat-elevation-z0" hidden>
    <mat-card-title-group hidden>
        <mat-card-title class="memory-card-title">
            <div style="margin-bottom: 2px;">
                <mat-icon [inline]="true">subtitles</mat-icon>{{memory.title}}
            </div>
            <mat-divider></mat-divider>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-icon [inline]="true">account_tree</mat-icon> {{memory.organization.title}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            <mat-icon [inline]="true">radio_button_checked</mat-icon>{{memory.memoryType.title}}
        </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content class="memory-card-content">


        <p>
            <mat-icon [inline]="true">description</mat-icon>{{memory.description}}
        </p>
    </mat-card-content>
    <mat-card-footer class="memory-card-footer">
        <mat-card-actions>
            <button mat-icon-button mat-raised-button color="primary" aria-label="View memory" [title]="'Edit'"
                (click)="openDialog(memory.id,  'edit','3000ms', '1500ms')">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button color="primary" aria-label="View memory" [title]="'Read'"
                (click)="openDialog(memory.id, 'read', '3000ms', '1500ms')">
                <mat-icon>remove_red_eye</mat-icon>
            </button>
            <button mat-icon-button mat-raised-button color="primary" aria-label="View history" [title]="'History'"
                (click)="openDialog(memory.id, 'history', '3000ms', '1500ms')">
                <mat-icon>history</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-footer>
</mat-card>