 .memory-card {
     margin: 0 5px 0 0px; 
 }

 .memory-card-title {
     font-size: larger;
 }

 .memory-card-content {
    margin-top: 10px;
 }

 .memory-card-footer { 
    
     text-align: center; 
 }
 .mat-expansion-panel-header.mat-expanded {
    height: 40px;
}
.icon{
    color: brown;
}
.mat-card-panel-header{
    background: aliceblue;
    font-size: larger;
}
.actions {
    background: powderblue;
}
 /* .mat-card-panel-header:hover {
    background: lavender !important;
}  */