/* common */
$textColor: #1b1b1b;
$textSecondaryColor: #888888;
$textColorDarkGray: #383838;
$fontSize: 14px;
$mainColor: #4d6bcf;
$accentColor: #616161;

/* topbar */
$topBarHeight: 60px;
$topbarBgColor: #eeeeee;
$topbarTextColor: #000;
$topbarButtonBgColor: #BCBCCB;
$topbarButtonTextColor: #919191;
$topbarButtonHoverBgColor: #075b9d;
$topbarButtonHoverTextColor: #333333;

/* subtop */
$subtopBgColor: #f5f5f5;

/* sidebar */
$sidebarWidth: 240px;
$sidebarBgColor: #ce6e6e;
$sidebarBgImageUrl: '#';
$sidebarBorderColor: $textSecondaryColor;
$sidebarAnimationDuration: .3s;
$sidebarMinimizedWidth: 55px;
$sidebarMinimizerColor: #ffffff;
$sidebarMinimizerBgColor: #b55656;
$sidebarMinimizerHoverBgColor: #8d4343;


/* mask */
$layoutMaskBgColor: #424242;

/* menu */
$menuItemColor: #ffffff;
$menuItemHoverBgColor: #8d4343;
$menuItemActiveColor: #ffffff;
$menuItemActiveBgColor: #9d4e4e;
$menuActiveBgColor: #b55656;
$menuAnimationDuration: .15s;
$menuItemBadgeColor: #282b30;
$menuItemBadgeBgColor: #ffc107;











