
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ipass-primary: mat.define-palette(mat.$indigo-palette);
$ipass-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ipass-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ipass-theme: mat.define-light-theme((
  color: (
    primary: $ipass-primary,
    accent: $ipass-accent,
    warn: $ipass-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ipass-theme);

@import '~@angular/cdk/overlay-prebuilt.css';
@import 'scss/layout/variables';

/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #fafafaad;
}

p {
  margin-bottom: 0;
}

$info-card-red: rgba(255, 99, 132, 1);
$info-card-blue: rgba(54, 162, 235, 1);
$info-card-yellow: #FFDA83;
$info-card-purple: rgba(153, 102, 255, 1);

.info-card {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 0px !important;

  > div:nth-child(1) {
    flex-grow: 1;
    padding: 10px 0px;
  }

  .icon {
    color: #A3A0FB;
    padding: 10px;

    i {
      line-height: 40px;
      text-align: center;
      font-size: 1.6em;
      height: 40px;
      width: 40px;
      border: 1px solid;
      border-radius: 50%;
    }
  }

  .content {
    color: #666;
    flex-grow: 1;
    padding: 10px 0px 20px;
  }

  .footer {
    color: #A3A0FB;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-top: 2px solid #F5F6FA;
  }

}

.info-card-1 {
  .icon {
    color: $info-card-purple;
  }

  .footer {
    color: $info-card-purple;
  }
}

.info-card-2 {
  .icon {
    color: $info-card-blue;
  }

  .footer {
    color: $info-card-blue;
  }
}

.info-card-3 {
  .icon {
    color: $info-card-red;
  }

  .footer {
    color: $info-card-red;
  }
}

.info-card-4 {
  .icon {
    color: $info-card-yellow;
  }

  .footer {
    color: #FFDA83;
  }
}

.info-card-5 {
  .icon {
    color: #5FE3A1;
  }

  .footer {
    color: #5FE3A1;
  }
}

.card {
  background: #fff;
  padding: 12px;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);

  &.no-shadow {
    padding: 0 !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
  }

  .card-header {
    display: flex;
    border-bottom: 1px solid rgb(193 101 105);
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;
    background-color: white;

    > div:nth-child(1) {
      display: flex !important;
      align-items: center !important;
      flex-grow: 1;
      font-size: 1.1em;
      letter-spacing: 1.1px;
      font-weight: 500;
      color: $textColorDarkGray;
    }

    > div:nth-child(2) {
      flex-shrink: 0;

      button:not(:last-child) {
        margin-right: 8px;
      }

    }
  }
}

.label {
  color: #5E6C84;
  font-size: 0.95em !important;
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: bold;
}

// PRIMENG OVERRIDES
.p-button-outline {
  color: inherit !important;
  background: transparent !important;
}

.p-tabview {
  padding: 0;
}

.p-dialog .p-dialog-content .p-grid {
  margin-top: 0;
}

.p-editor-container .p-editor-toolbar {
  background-color: white !important;
}

.layout-subtop .p-menubar {
  background-color: transparent !important;
  border: 0 !important;
}

.layout-subtop .p-menubar .p-menuitem {
  border-radius: 0;
}

.layout-subtop .p-menubar .p-menuitem-link {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.layout-subtop .p-menubar .p-menuitem-link:hover {
  background-color: #d7dbe8;
}

.layout-subtop .p-menubar .p-state-active {
  background: #F5F6FA;
  color: #fff !important;
}

.layout-subtop .p-menubar .p-state-active {
  background: #F5F6FA;
  color: #fff !important;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;

  .p-menuitem-text, .p-menuitem-icon {
    color: #A3A0FB;
  }

}

.p-noborder {
  // table overrides
  .p-table .p-table-thead tr:nth-child(1) {
    border-bottom: 1px solid #337db7;
    margin-bottom: 5px;
  }

  .p-table .p-table-thead tr:nth-child(1) th {
    background: #fff;
  }

  .p-table .p-table-thead tr th {
    border: 0px;
  }

  .p-table .p-table-tbody tr td {
    border: 0px;
  }

  .p-table .p-paginator-bottom {
    border: 0px;
    padding-top: 5px;
    background: #fff;
    border-top: 1px solid #337db7;
  }

  .p-table-thead .p-state-highlight, .p-sortable-column-icon {
    color: #333333 !important;
  }

  // treetable override
  .p-treetable .p-treetable-thead tr:nth-child(1) {
    border-bottom: 1px solid #337db7;
    margin-bottom: 5px;
  }

  .p-treetable .p-treetable-thead tr:nth-child(1) th {
    background: #fff;
  }

  .p-treetable .p-treetable-thead tr th {
    border: 0px;
  }

  .p-treetable .p-treetable-tbody tr td {
    border: 0px;
  }

  .p-treetable .p-paginator-bottom {
    border: 0px;
    padding-top: 5px;
    background: #fff;
    border-top: 1px solid #337db7;
  }

  // standalone paginator
  .p-paginator {
    border: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: #fff;
    border-top: 1px solid #337db7;
  }

  // selectbutton
  .p-selectbutton {
    line-height: 28px !important;

    .p-button {
      background-color: white !important;
      border: unset !important;
      border-radius: unset !important;
      color: black !important;

      .p-button-icon-left {
        color: black !important;
      }

      &:hover {
        background: #e8e8e8;
      }
    }

    .p-button:not(:last-child) {
      border-right: 1px solid #e8e8e8 !important;
    }

    .p-state-active {
      background-color: white !important;

      .p-button-text {
        border-bottom: 2px solid #337db7;
      }
    }

    // selectbutton end
  }
}

// Toolbar
.toolbar {
  display: flex;
  align-items: center;
  background-color: $subtopBgColor;
  border-bottom: 1px solid #c8c8c8;
  min-height: 54px;
  padding: 8px 16px;
  //margin-bottom: 8px;

  > div:nth-child(1) {
    display: flex !important;
    align-items: center !important;
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: bold;
    color: $textColorDarkGray;
    letter-spacing: 1.1px;
  }

  > div:nth-child(2) {
    flex-shrink: 0;

    button:not(:last-child) {
      margin-right: 8px;
    }

  }
}

.toolbar-two-line {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #c8c8c8;
  padding: 8px 16px;
  //margin-bottom: 8px;

  > div:nth-child(1) {
    display: flex !important;
    align-items: start !important;
    flex-grow: 1;
  }

  > div:nth-child(1) .toolbar-lines {
    display: flex !important;
    flex-direction: column;
    padding-top: 0.27em; // düzeltme
  }

  > div:nth-child(1) .toolbar-lines .first-line {
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 2px;
  }

  > div:nth-child(2) {
    flex-shrink: 0;
    align-self: start;

    button:not(:last-child) {
      margin-right: 8px;
    }

  }
}

.toolbar-secondary {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #ccc;

  > div:nth-child(1) {
    display: flex !important;
    align-items: center !important;
    flex-grow: 1;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 8px;
  }

  > div:nth-child(2) {
    flex-shrink: 0;

    button:not(:last-child) {
      margin-right: 8px;
    }
  }
}

// confirm dialog
.p-dialog .p-confirmdialog .p-widget .p-widget-content {
  transform: translate(calc(-50% + 0.5px), calc(-50% + 0.5px)) !important;
}


// Material Table
mat-row:hover {
  background: #f2f2f2;
  cursor: pointer;
}

// Material Badge
.mat-badge-small .mat-badge-content {
  font-size: 0.55em;
}

.mat-form-field-underline {
  position: static !important;
}

// If not applied, the document management menu expander shifts
.mat-expansion-panel-spacing {
  margin: 0 !important;
}

// DRAGULA OVERRIDES
/* for angular material dialog panel override */
.cdk-overlay-container {
  z-index: 5200 !important;
}

/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source person while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.login-form-container .invalid {
  color: #fff;
  padding: 4px;
  background: #C62828;
  border-radius: 3px;
}

// Job Application Tag Box
.tag-box {
  background-color: #bae5fe;
  color: #385d7b;
  display: inline-block;
  font-size: .8em;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid;
  border-color: #c7deff;
  padding: 3px 6px;
}

.tag-box-success {
  @extend .tag-box;
  background: #cfe5cb !important;
  color: #395c33;
  border-color: #d6e1d4;
}

.tag-box-success-2 {
  @extend .tag-box;
  background: #8eca8b !important;
  color: #253a22;
  border-color: #d6e1d4;
}

.tag-box-danger {
  @extend .tag-box;
  background-color: #f6ced2 !important;
  color: #b44442;
  border-color: #f4cfd6;
}

.tag-box-primary {
  @extend .tag-box;
}

.tag-box-warning {
  @extend .tag-box;
  background-color: #faeeb5;
  color: #82593f;
  border-color: #fbf5db;
}

.tag-box-orange {
  @extend .tag-box;
  background-color: #fad9b8;
  color: #866544;
  border-color: #f7e5d2;
}

.tag-box-purple {
  @extend .tag-box;
  background-color: #e7d0fe;
  color: #6a4e87;
  border-color: #f4e8f9;
}

.tag-box-secondary {
  @extend .tag-box;
  background-color: rgb(223, 225, 230);
  color: rgb(66, 82, 110);
  border-color: #d6d6d6;
  min-width: 4rem;
  text-align: center;
}

/** Dialog */
body .p-dialog .p-dialog-content > * > :nth-child(1) {
  height: 100% !important;
  max-height: calc(100vh - 241px);
  overflow: auto;
}

body .p-dialog .p-dialog-content {
  background-color: white;
  border: none !important;
  border-radius: 2px;
}

body .p-dialog .p-dialog-titlebar {
  background-color: #ffffff !important;
  border: none !important;
  border-bottom: 1px solid #337db7 !important;
}

body .p-dialog .p-dialog-titlebar .p-dialog-titlebar-icons .p-dialog-titlebar-icon {
  margin-top: 0 !important;
  float: none !important;
}

body .p-dialog .p-dialog-titlebar .p-dialog-titlebar-icon {
  margin-top: 3px;
  float: right;
}

body .p-dialog .p-dialog-footer {
  border: none !important;
}

body .p-menubar .p-menuitem-link:focus {
  box-shadow: none;
}

body .p-inputtext:enabled:focus:not(.p-state-error) {
  box-shadow: none;
}

/* PrimeNG DropDown Fix  */
.p-dropdown-label-container {
  width: inherit;
}

.mat-tab-label-active {
  color: rgb(193 101 105) !important;
  font-weight: bold !important;
  opacity: 1 !important;
}

.mat-tab-links > a:hover {
  color: rgb(193 101 105) !important;
  opacity: 0.75 !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #D7E9F7 !important;
}

.pqm-btn {
  letter-spacing: 0.3px !important;

  &:focus {
    box-shadow: 0 0 0 2.3px #e5bbbbd9 !important;
  }
}

.pqm-btn-outline {
  @extend .p-button-outline;
  @extend .pqm-btn;
  color: $textColorDarkGray !important;
  border: 2px solid $mainColor !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.pqm-btn-basic {
  @extend .pqm-btn;
  background-color: $mainColor !important;
  border: 1px solid $mainColor !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.img-pastel-opacity {
  opacity: 0.75;
}

.p-button-outline-pqm {
  @extend .p-button-outline;
  color: $textColorDarkGray !important;
  border: 1px solid $mainColor !important;
}

.pqm-btn-danger {
  @extend .pqm-btn-basic;
  border: 1px solid #d05353 !important;
  background-color: #d05353 !important;
}

.pqm-btn-success {
  @extend .pqm-btn-basic;
  border: 1px solid #2eaf79 !important;
  background-color: #2eaf79 !important;
}

.pqm-btn-secondary {
  @extend .pqm-btn;
  background-color: rgba(77, 107, 207, 0.89) !important;
  border-color: rgba(77, 107, 207, 0.89) !important;
}

.label {
  color: #5E6C84;
  font-size: 0.95em !important;
  font-family: "Roboto", "Trebuchet MS", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  overflow: hidden;
  font-weight: bold;
}

.gray-900 {
  color: #212121;
}

.gray-800 {
  color: #424242;
}

.gray-700 {
  color: #616161;
}

.gray-600 {
  color: #757575;
}

.gray-500 {
  color: #9e9e9e;
}

.gray-400 {
  color: #bdbdbd;
}

.gray-300 {
  color: #e0e0e0;
}

.gray-200 {
  color: #eeeeee;
}

.gray-100 {
  color: #f5f5f5;
}

/* Dragula */
/* in-flight clone */
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */
.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.p-message-warn {
  background: #fff8f0 !important;
  border: 1px solid #ffeebb !important;
  color: #c69448 !important;
}

.p-message-wrapper {
  padding: 0.4rem 1rem !important;
}

.p-message {
  margin: 0 0 0.6rem !important;
}

.row-bottom-border {
  border-bottom: 1px solid #f3f3f3;
}

.p-message-detail {
  margin-right: 8px !important;
}

mat-expansion-panel {
  background-color: #fafafa !important;
}

.mat-expansion-panel-body {
  padding: 0 10px 10px !important;
}

.pqm-save-button {
  background-color: #2eaf79 !important;
  border-color: #2eaf79 !important;

  &:focus {
    box-shadow: 0 0 0 2.3px #86ecbf !important;
  }
}

.warning {
  color: white;
  background-color: #FBC757;
  max-width: 100% !important;
}

.success {
  color: white;
  background-color: #76CB66;
  max-width: 100% !important;
}

.info {
  color: white;
  background-color: #A0C2FF;
  max-width: 100% !important;
}

.error {
  color: white;
  background-color: #BA0001;
  max-width: 100% !important;
}

// browserda kayıtlı kullanıcı adı arkaplan
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

mat-form-field {
  width: 100% !important;
}

.mat-form-field-wrapper {
  padding: 0 !important;
}

mwl-gauge {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}

mwl-gauge > .gauge > .dial {
  stroke: #eee;
  stroke-width: 2;
  fill: rgba(0, 0, 0, 0);
}

.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
  background: #eaeaea;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.success-button {
  background: #89B5AF;
  color: white;
}

.danger-button {
  background: #C37B89;
  color: white;
}

.warning-button {
  background: #F7D59C;
}

.notr-button {
  background: #7F7C82;
  color: white;
}

.red-button {
  background: #D77FA1;
  color: white;
}

.primary-button {
  background: $info-card-purple;
  color: white;
}

.secondary-button {
  background: #D9D7F1;
}

.grey-blue-button {
  background: #6B7AA1;
  color: white;
}

.weighted {
  font-weight: 700;
}

.customModal {
  border-radius: 300px !important;
  background: #f5f5f5 !important;
  border: unset!important;
}
.customModal .p-dialog-content {
  border-radius: 300px !important;
  background: #f5f5f5 !important;
  border: unset!important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  height: 55px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
