.actions {
  margin: 4px;
}
.container {
  position: relative; 
}
.table-container {
  position: relative; 
  height: calc(100vh - 320px);
  overflow: auto;
  padding: 2px;
} 
.action-button{
  background-color: #90e6e6 ;
  margin: 4px;
}