<div class="container">
    <div fxFlexFill align="end">
        <div class="actions" align="end">
            <button  *ngIf="showAdd" mat-raised-button aria-label="Add memory" [routerLink]="['/memories/add']" class="action-button"
                [title]="'Add'">
                <mat-icon>add </mat-icon>Add
            </button>
            <button *ngIf="!openAllPanels" align="end" mat-icon-button mat-raised-button   class="action-button"
                (click)="openAllPanels = true">
                <mat-icon>expand_more </mat-icon>
            </button>
            <button *ngIf="openAllPanels" align="end" mat-icon-button mat-raised-button    class="action-button"
                (click)="openAllPanels = false">
                <mat-icon>expand_less </mat-icon>
            </button>
        </div>
    </div>
    <div class="table-container">
        <div fxLayout="row" fxLayout.lt-md="column" fxFlexFill *ngFor="let memory of memories ">
            <app-memory-card [memory]="memory" fxFlex="100" [panelOpenState]="openAllPanels" [decode]="decode">
            </app-memory-card>
        </div>
    </div>
</div>