<app-loading [loading]="isLoadingResults || isRateLimitReached"></app-loading>
<mat-card class="app-card mat-elevation-z0">
    <mat-card-header class="app-card-header mat-elevation-z8">
        <mat-card-title> Organization Types</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 8px;"> Dev, Test, Prod etc.
        </mat-card-subtitle>
    </mat-card-header>
 

    <mat-card-content class="app-card-content ">

        <div class=" mat-elevation-z8" fxLayout="row" fxFlexFill>

            <div fxFlex.lt-md="100" fxFlex="100">
                <div class="table-container" fxFlex="100">
                    <table mat-table [dataSource]="data" matSort [matSortActive]="sort? sort.active : 'title'"
                        [matSortDirection]="sort? sort.direction : 'asc'" matSortDirection="asc">
                        <!-- title -->
                        <ng-container matColumnDef="title">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
                                {{'title'}}</th>
                            <td mat-cell *matCellDef="let memory">
                                <span>{{memory.title}}</span>
                            </td>
                        </ng-container>

                        <!-- Action -->
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef [style.width]="'50px'">
                                <button mat-raised-button aria-label="Add memory" [routerLink]="['/organization-types/add']"
                                    class="actions" [title]="'Add'">
                                    <mat-icon class="actions-icon" style="margin-right: 5px;">add
                                    </mat-icon>Add
                                </button>
                            </th>
                            <td mat-cell *matCellDef="let memory">
                                <button class="actions" mat-icon-button aria-label="Update memory"
                                    [routerLink]="['/organization-types/edit/'+memory.id]" [title]="'Edit'">
                                    <mat-icon class="actions-icon">edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="
                            let row;
                            let even = even;  columns: displayedColumns;" [ngClass]="{even: even}"></tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="rate-limit-reached" *ngIf="data.length<= 0" fxLayout="row" fxLayout.gt-md="row">
            No Records found
        </div>
        <mat-paginator class="mat-paginator-sticky mat-elevation-z8" [length]="resultsLength"
            [pageSizeOptions]="[   10, 20, 50, 100, 200, 500, 1000]" showFirstLastButtons aria-label="Select page">
        </mat-paginator>
    </mat-card-content>

</mat-card>
 