.mat-row:hover {
  background: unset;
  cursor: unset;
}

table {
  width: 100%;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

.mat-header-cell {
  color: brown;
  text-transform: uppercase;
  font-weight: 900;
}

// .even{
//   background-color: whitesmoke;
// }

.mat-header-row {
  background: #EAF6F6;
}

.mat-paginator {
  background: #EAF6F6;
}


.container {
  position: relative;
}
 
.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

section {
  display: table;
}

.button-row {
  display: table-cell;
  width: 490px;
}

section {
  display: table;
}

.label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.mat-cell {
  padding: 0px 5px 0px 5px;
} 

.mat-header-cell {
  padding: 0px 5px 1px 0px;
} 

td.mat-cell{
  /* row border */
  border-left: 1px solid whitesmoke;
}
td{  
  border-right: 1px solid whitesmoke;
}

th.mat-cell{
  /* row border */
  border-left: 1px solid #e0e0e0;
}
th{  
  border-right: 1px solid #e0e0e0;
}
.actions-icon {
  font-size: x-large ; color:#09a7a7; 
}

.actions {
  font-size: larger ; color:black;
}
 

.mat-paginator-sticky { 
  margin-top: 10px;
  position: sticky;
  z-index: 10;
}

 
.app-card {
  top: 60px;
  padding: 0px;
  margin: 0px;
}

.app-card-header {
  position: fixed;
  top: 60px;
  background-color: #cbf2df; 
  padding: 10px;
  width: 100%;
  z-index: 3000;
}

.app-card-content { 
  top: 80px;
  margin: 10px; 
  position: relative;
} 

.table-container {  
  height: calc(100vh - 310px);
  position: relative; 
  overflow: auto;
} 