.pqm-sidenav {
  // 4527a0
  // 4d6bcf
  background-color: #3B5360;
  // background-color: #ffffff;
  height: 100vh;
}

.sidenav-item {
  mat-icon {
    color: white;
  }

  p {
    color: white;
  }
}
