<mat-card class="app-card mat-elevation-z0">
    <mat-card-header class="app-card-header mat-elevation-z8">
        <mat-card-title>{{model.title}}</mat-card-title>
        <mat-card-subtitle style="margin-bottom: 8px;">History</mat-card-subtitle>
    </mat-card-header>

    <div class="loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
        <mat-spinner *ngIf="isLoadingResults">Loading..</mat-spinner>
    </div>
    <mat-card-content class="app-card-content  ">

        <div class=" mat-elevation-z8" fxLayout="row" fxFlexFill>

            <div fxFlex.lt-md="100" fxFlex="100">
                <div class="  " fxLayout="column" fxLayout.gt-md="row">

                    <div fxFlex.lt-md="100" fxFlex="100" fxHide.gt-md>
                        <app-memory-card-list [memories]="data" [displayedColumns]="displayedColumns" #memoryCards
                            [searchText]="searchText" [sort]="sort">
                        </app-memory-card-list>
                    </div>
                    <div class="table-container" fxFlex="100">
                        <table fxHide.lt-lg mat-table [dataSource]="data" matSort
                            [matSortActive]="sort? sort.active : 'title'"
                            [matSortDirection]="sort? sort.direction : 'asc'" matSortDirection="asc">

                            <!-- title -->
                            <ng-container matColumnDef="title">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by title">
                                    {{'title'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.title}}</span>
                                </td>
                            </ng-container>

                            <!-- organization -->
                            <ng-container matColumnDef="organization">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{'organization'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.organization.title}}</span>
                                </td>
                            </ng-container>
                            <!-- memoryType -->
                            <ng-container matColumnDef="memoryType">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{'memory type'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.memoryType.title}}</span>
                                </td>
                            </ng-container>

                            <!-- memoryType -->
                            <ng-container matColumnDef="environmentType">
                                <th mat-header-cell *matHeaderCellDef> {{'environment type'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.environmentType?.title}}</span>
                                </td>
                            </ng-container>

                            <!-- userName -->
                            <ng-container matColumnDef="userName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by userName">
                                    {{'user name'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.userName}}</span>
                                </td>
                            </ng-container>
                            <!-- email -->
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by email">
                                    {{'email'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.email}}</span>
                                </td>
                            </ng-container>
                            <!-- hostOrIpAddress -->
                            <ng-container matColumnDef="hostOrIpAddress">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by hostOrIpAddress"> {{'host name/ip address'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.hostOrIpAddress}}</span>
                                </td>
                            </ng-container>
                            <!-- port -->
                            <ng-container matColumnDef="port">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by port">
                                    {{'port'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.port}}</span>
                                </td>
                            </ng-container>
                            <!-- password -->
                            <ng-container matColumnDef="password">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                    sortActionDescription="Sort by password">
                                    {{'password'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.password}}</span>
                                </td>
                            </ng-container>

                            <!-- description -->
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{'description'}}</th>
                                <td mat-cell *matCellDef="let memory">
                                    <span>{{memory.description}}</span>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="
                            let row;
                            let even = even;  columns: displayedColumns;" [ngClass]="{even: even}"></tr>
                        </table>

                    </div>
                </div>
            </div>

        </div>
        <div class="rate-limit-reached" *ngIf="data.length<= 0" fxLayout="row" fxLayout.gt-md="row">
            No Records found
        </div>
        <mat-paginator class="mat-paginator-sticky mat-elevation-z8" [length]="resultsLength"
            [pageSizeOptions]="[   10, 20, 50, 100, 200, 500, 1000]" showFirstLastButtons aria-label="Select page">
        </mat-paginator>
    </mat-card-content>
    <!-- <mat-card-footer class="card-footer">

</mat-card-footer> -->
</mat-card>

<div style="
z-index: 5000;
position: fixed;
display: flex;
align-self: flex-end;
top: 75px;
right: 18px;">
    <button class="mat-elevation-z8" mat-icon-button [matMenuTriggerFor]="menu" xPosition="before"
        style="background-color: white;">
        <mat-icon style="font-size: xx-large ; color:#09a7a7">app_registration</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

        <button mat-menu-item class="actions" aria-label="Add memory" [routerLink]="['/memories/add']" [title]="'Add'">
            <mat-icon class="actions-icon">add </mat-icon>Add New
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="actions" (click)="openSearch( '3000ms', '1500ms')">
            <mat-icon class="actions-icon" mat-icon-button>sort</mat-icon>
            <span>Sort&Filter</span>
        </button>
        <mat-divider fxHide.gt-md></mat-divider>
        <div fxHide.gt-md>
            <button *ngIf="!memoryCards.openAllPanels" class="actions" align="end" mat-menu-item
                (click)="memoryCards.openAllPanels = true">
                <mat-icon class="actions-icon" mat-button>expand_more </mat-icon>
                <span>Expand All</span>
            </button>
            <button *ngIf="memoryCards.openAllPanels" align="end" mat-menu-item
                (click)="memoryCards.openAllPanels = false">
                <mat-icon class="actions-con" mat-button>expand_less </mat-icon>
                <span>Collapse All</span>
            </button>
        </div>

    </mat-menu>

</div>