<mat-form-field class="example-form-field" [appearance]="appearance">
    <mat-label>{{label}}</mat-label>
    <input matInput [value]="value" (change)="changeValue($event)" [type]="type" [required]="required"
        [disabled]="readOnly" [min]="min" [max]="max" [placeholder]="placeholder ? (placeholder) : (label)">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-hint *ngIf="!value && showClearButton" align="start">{{hint}}</mat-hint>
</mat-form-field>
<mat-error *ngFor="let validation of validationMessages">
    <mat-error class="error-message" *ngIf="control.hasError(validation.type) && (control.dirty || control.touched)">
        {{validation.message}}
    </mat-error>
</mat-error>