 
.app-card {
  top: 60px;
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: auto;
  height: calc(100vh - 120px);
  background-color: #eefbf5;
}

.app-card-header {
  position: fixed;
  top: 60px;
  height: 74px;
  background-color: #cbf2df;   
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  z-index: 1000;  
}

.app-card-content { 
  top: 80px; 
  position: relative; 
  margin: 20px; 
}  

.actions-icon {
  font-size: xx-large ; color:#09a7a7;
  margin-top: -10px;
}

.actions {
  font-size: larger ; color: #09a7a7;
}

.example-card{
   text-align: center; 
   margin-top: 20px; 
} 
 
.card-footer-error { 
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: red;
  color: wheat;
}  

.card-content{ 
  background-color: white;   
}
 


.example-button-row{
  margin: 10px;
} 
.mat-card-actions{
  border-top: 1px solid #afdfc8;
  border-bottom: 1px solid #afdfc8;
  border-radius: 16px;
  
  margin: 10px;
  padding: 10px;
} 
.action-button{
  margin: 3px;
}