<app-loading [loading]="loading"></app-loading>
<form [formGroup]="form">
    <mat-card class="example-card mat-elevation-z0 container">
        <mat-card-content class="card-content ">
            <div class="container" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                <div fxFlex.lt-md="100" fxFlex="50">
                    <app-input-field formControlName="userName" fxFlex="98" [class]="'example-form-field'"
                        [label]="'User Name'" [type]="'text'" [placeholder]="'Enter User Name'"
                        [control]="f['userName']" [validationMessages]="usernameValidationsValidationMessages"
                        [elevation]="'0'" [readOnly]="!editable">
                    </app-input-field>
                </div>
                <div fxFlex.lt-md="100" fxFlex="50">
                    <app-input-field formControlName="email" fxLayoutGap="10px" fxFlex="98"
                        [class]="'example-form-field'" [label]="'Email'" [type]="'email'" [placeholder]="'Enter email'"
                        [control]="f['email']" [successValidation]="'Looks good!'" [elevation]="'0'" [readOnly]="true">
                    </app-input-field>
                </div>
            </div>
            <div class="container" fxLayout="row" fxLayout.lt-md="column" fxFlexFill>
                <div fxFlex.lt-md="100" fxFlex="50">
                    <app-input-field formControlName="firstName" fxFlex="98" [class]="'example-form-field'"
                        [label]="'First Name'" [type]="'text'" [placeholder]="'Enter First Name'"
                        [control]="f['firstName']" [validationMessages]="usernameValidationsValidationMessages"
                        [elevation]="'0'" [readOnly]="!editable">
                    </app-input-field>
                </div>
                <div fxFlex.lt-md="100" fxFlex="50">
                    <app-input-field formControlName="lastName" fxFlex="98" [class]="'example-form-field'"
                        [label]="'Last Name'" [type]="'text'" [placeholder]="'Enter Last Name'"
                        [control]="f['lastName']" [validationMessages]="usernameValidationsValidationMessages" [elevation]="'0'"
                        [readOnly]="!editable">
                    </app-input-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-footer class="app-card-footer   ">          
            <mat-card-actions fxFlexAlign="center" class=" ">
                <div fxLayout="column" fxFlexFill>
                    <div fxLayout="column" class=" ">
                        <div fxLayout="row" fxFlexFill fxFlexAlign="center" class=" " fxFlex="100">
                            <button *ngIf="editable" fxFlex="100" class="action-button" (click)="saveProfile()"
                                mat-raised-button color="primary">
                                <mat-icon>save</mat-icon> Save
                            </button>
                            <button *ngIf="!editable" fxFlex="100" class="action-button" (click)="editable = true"
                                mat-raised-button color="primary">
                                <mat-icon>edit</mat-icon> Edit
                            </button>

                        </div>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card-footer>
    </mat-card>
</form>