<div class="nav mat-elevation-z6">
    <div fxFlex="100" fxLayout="row">
        <div fxFlex="75" fxLayout="row">
            <button mat-icon-button  *ngIf=" drawer.opened" >
                <mat-icon style="font-size: xx-large ; color:#09a7a7" class="close" (click)="drawer.close()">keyboard_double_arrow_left</mat-icon>
            </button>
            <button mat-icon-button *ngIf="  !drawer.opened" >
                <mat-icon  style="font-size: xx-large ; color:#09a7a7" (click)="drawer.toggle()">keyboard_double_arrow_right</mat-icon>
            </button>
            <button mat-button [routerLink]="'/'"  (click)="onMenuChange('/')" aria-label="IPASS"
                class="mat-focus-indicator  mat-button mat-button-base" aria-disabled="false"><span
                    class="mat-button-wrapper">
                    <img src="../../../favicon.ico" alt="IPASS"><span> IPASS </span></span><span matripple></span><span
                    class="mat-button-focus-overlay"></span>
            </button>
            <span *ngFor="let nav of navbarNavigations" style="margin-top: 6px;">
                <button *ngIf="accountService.userLoggedIn" mat-button [routerLink]="nav.link"
                    (click)="onMenuChange(nav.link)"> {{nav.title}}
                </button>
            </span>
        </div>
        <div fxFlex="25" fxLayout="column" fx-flex fx-layout-align="end" style="align-items: end;">
            <div fx-layout="row" fx-flex fx-layout-align="end">
                <button  mat-icon-button [matMenuTriggerFor]="beforeMenu" >
                    <mat-icon style="font-size: xx-large ; color:#09a7a7">account_circle</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before" style="padding: 10px;">
                    <button mat-menu-item>
                        <button mat-button [routerLink]="'/profile'" (click)="onMenuChange('/profile')"> Profile
                        </button>
                    </button>

                    <button mat-menu-item>
                        <button mat-button [routerLink]="'/login'" (click)="onMenuChange('/login')"> {{
                            !accountService.userLoggedIn
                            ? 'Login': 'Logut'}}
                        </button>
                    </button>
                </mat-menu>
            </div>
        </div>
    </div>
</div>
<mat-drawer-container [class.drawer-opened]="drawer.opened" class="mat-elevation-z4">
    <mat-toolbar class="main header  mat-elevation-z4" hidden> 
        <mat-toolbar-row>           
            <div>
                <h1>{{seletedNav?.title}} </h1> 
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-drawer #drawer class="drawer  mat-elevation-z4" [mode]="drawerMode" [opened]="drawerMode == 'side'">

        <div class="contents ">
            <mat-nav-list>
                <div *ngFor="let nav of drawerNavigations" >
                    <button *ngIf="accountService.userLoggedIn"
                        [ngClass]="seletedNav?.title === nav.title ? 'selected' : ''" mat-list-item
                        [routerLink]="nav.link" (click)="drawerMode == 'over' && drawer.close();onMenuChange(nav.link)"> {{nav.title}}
                    </button>
                    <mat-divider></mat-divider>
                </div> 
                <span></span>
            </mat-nav-list>
        </div>
    </mat-drawer>
    <div class="main contents">
      
        <div>
            <router-outlet class="outlet"></router-outlet>
        </div>
    </div>
    <div class="   "  style="z-index: 4 !important;">
        
        <media-query-status></media-query-status>
        <mat-toolbar class=" main footer mat-elevation-z4"  > 
            <mat-toolbar-row  > 
                Powered by Patika Global
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</mat-drawer-container>