.nav {
  position: fixed;
  padding: 8px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  height: 60px;
  background-color:#afdfc8 ;
}

.drawer {
  position: fixed;
  height: calc(100vh - 60px);
  min-width: 100px;
  border-right: 1px solid #ccc;
  top: 60px; 
  background-color: #b4ffdb2b;
  z-index: 2000;
}
 
.drawer .header {
  position: relative;
  right: 0;
  justify-content: space-between;
}

.drawer .contents {
  padding: 0;  
  margin: 0;  
  background-color:  #b4ffdb2b;  
}

.main {
  background-color: #fff;
}

.main.header {
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 2000;
  border-bottom: 1px solid #ccc;
 
  background-color: #cbf2df; 
}

.main.contents {
  min-height: calc(100vh - 65px);
  margin: 0; 
  padding: 0;
}

.main.footer { 
  bottom: 0;
  width: 100%;
  left: 0px;
 
  background-color: #afdfc8; 
}

.selected, .selected:hover, .selected:not(:hover) {
    color: #09a7a7;  
  background: #eefbf5 ; 
} 

.toggle-drawer {

  background-color: #90e6e6;
  margin: 4px;
}

.actions {
  background-color: #90e6e6;
}