.mat-row:hover {
  background: unset;
  cursor: unset;
}

table {
  width: 100%;
}
td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}
.mat-header-cell {
  color: brown;
  text-transform: uppercase;
  font-weight: 900;
  }
.mat-header-row {
background: #C2DED1;
background: radial-gradient(circle, rgba(149,162,228,0.8883928571428571) 0%, rgba(228,230,158,1) 39%, rgba(173,240,233,0.7147233893557423) 100%);

}
.mat-paginator {
background: #C2DED1;
background: radial-gradient(circle, rgba(149,162,228,0.8883928571428571) 0%, rgba(218,158,230,1) 39%, rgba(173,240,233,0.7147233893557423) 100%);
} 
.card-header {
background: #C2DED1;
background: radial-gradient(circle, rgba(149,162,228,0.8883928571428571) 0%, rgba(230,169,158,1) 39%, rgba(173,240,233,0.7147233893557423) 100%);
}
.card-content {
background: #ccc;
}
.card-footer {
//background: #97C4B8;
}
.mem-card {
//background: #ccc;
}
.mat-elevation-z1 {  
height: 80vh;
background: radial-gradient(circle, rgba(149,162,228,0.8883928571428571) 0%, rgba(228,230,158,1) 39%, rgba(173,240,233,0.7147233893557423) 100%);

}