
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button class="mat-focus-indicator docs-button mat-button mat-button-base">
            <mat-icon>upgrade</mat-icon>
        </button>
        <span class="menu-spacer"></span>

        <h1>
            <button mat-button [routerLink]="'/articles'">
                <mat-icon aria-label="Articler" matTooltipPosition="above">
                    description
                </mat-icon>Articler
            </button>
        </h1>
        <span class="menu-spacer"></span>

        <div>
            <button mat-button [routerLink]="'/authors'"> Authors</button>
        </div>
        <span class="menu-spacer"></span>

        <form class="form-inline my-2 my-lg-1" style="min-width: 70%;">
            <input class="form-control mr-sm-2" style="min-width: 60%;" type="search" placeholder="Search"
                aria-label="Search">
            <button mat-button (click)="search()">
                <mat-icon aria-label="Articler" matTooltipPosition="above">
                    search
                </mat-icon>Search
            </button>
        </form>
        <span class="menu-spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu">Saim Nasır
            <mat-icon aria-label="User Settings" matTooltipPosition="above">
                keyboard_arrow_down
            </mat-icon>
        </button>
        <span class="menu-spacer"></span>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Log Out</button>
            <button mat-menu-item>Settings</button>
        </mat-menu>

        <span class="menu-spacer"></span>
        <button mat-icon-button class="mat-focus-indicator docs-button mat-button mat-button-base">
            <mat-icon>upgrade</mat-icon>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <button mat-icon-button class="mat-focus-indicator docs-button mat-button mat-button-base">
            <mat-icon>upgrade</mat-icon>
        </button>
        <span class="menu-spacer"></span>

        <h1>
            <button mat-button [routerLink]="'/articles'">
                <mat-icon aria-label="Articler" matTooltipPosition="above">
                    description
                </mat-icon>Articler
            </button>
        </h1>
        <span class="menu-spacer"></span>

        <div>
            <button mat-button [routerLink]="'/authors'"> Authors</button>
        </div>
        <span class="menu-spacer"></span>

        <form class="form-inline my-2 my-lg-1" style="min-width: 70%;">
            <input class="form-control mr-sm-2" style="min-width: 60%;" type="search" placeholder="Search"
                aria-label="Search">
            <button mat-button (click)="search()">
                <mat-icon aria-label="Articler" matTooltipPosition="above">
                    search
                </mat-icon>Search
            </button>
        </form>
        <span class="menu-spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu">Saim Nasır
            <mat-icon aria-label="User Settings" matTooltipPosition="above">
                keyboard_arrow_down
            </mat-icon>
        </button>
        <span class="menu-spacer"></span>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Log Out</button>
            <button mat-menu-item>Settings</button>
        </mat-menu>

        <span class="menu-spacer"></span>
        <button mat-icon-button class="mat-focus-indicator docs-button mat-button mat-button-base">
            <mat-icon>upgrade</mat-icon>
        </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <button mat-icon-button class="mat-focus-indicator docs-button mat-button mat-button-base">
            <mat-icon>upgrade</mat-icon>
        </button>
        <span class="menu-spacer"></span>

        <h1>
            <button mat-button [routerLink]="'/articles'">
                <mat-icon aria-label="Articler" matTooltipPosition="above">
                    description
                </mat-icon>Articler
            </button>
        </h1>
        <span class="menu-spacer"></span>

        <div>
            <button mat-button [routerLink]="'/authors'"> Authors</button>
        </div>
        <span class="menu-spacer"></span>

        <form class="form-inline my-2 my-lg-1" style="min-width: 70%;">
            <input class="form-control mr-sm-2" style="min-width: 60%;" type="search" placeholder="Search"
                aria-label="Search">
            <button mat-button (click)="search()">
                <mat-icon aria-label="Articler" matTooltipPosition="above">
                    search
                </mat-icon>Search
            </button>
        </form>
        <span class="menu-spacer"></span>

        <button mat-button [matMenuTriggerFor]="menu">Saim Nasır
            <mat-icon aria-label="User Settings" matTooltipPosition="above">
                keyboard_arrow_down
            </mat-icon>
        </button>
        <span class="menu-spacer"></span>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>Profile</button>
            <button mat-menu-item>Log Out</button>
            <button mat-menu-item>Settings</button>
        </mat-menu>

        <span class="menu-spacer"></span>
        <button mat-icon-button class="mat-focus-indicator docs-button mat-button mat-button-base">
            <mat-icon>upgrade</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>