.mat-row:hover {
  background: unset;
  cursor: unset;
}

table {
  width: 100%;
}

td,
th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 200px;
}

.mat-header-cell {
  color: brown;
  text-transform: uppercase;
  font-weight: 900;
}

.mat-header-row {
  background: #EAF6F6;
}

.mat-paginator {
  background: #EAF6F6;
}


.card-header {
  background: white;
  
  // top: 40px;
  // position: sticky;
  // z-index: 10;
}

.card-content {
  // background: #EAF6F6;
 // height:80%;
  padding-top: 0px ;
}

.mat-elevation-z1 {
  // background: #EAF6F6;
  margin: 0;
  padding: 0;
}

.container {
  position: relative; 
}

.table-container {
  position: relative; 
  height: 600px;
  overflow: auto;
} 

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

section {
  display: table;
}

.button-row {
  display: table-cell;
  width: 490px;
}

section {
  display: table;
}

.label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.mat-cell{
  padding: 0px 5px 0px 5px;
}

.mat-header-cell{
  padding: 0px 5px 1px 0px;
} 

.actions{
  background-color: #90e6e6 ;
}
.add-button{
  background-color: #90e6e6 ;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
.cardx {
  padding: 0;
}

mat-expansion-panel {
  background-color: white !important;
}