.card-header {
  background: #C2DED1;
  background: radial-gradient(circle, rgba(149, 162, 228, 0.8883928571428571) 0%, rgba(230, 169, 158, 1) 39%, rgba(173, 240, 233, 0.7147233893557423) 100%);
}

.card-content {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-footer {
  text-align: center;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: radial-gradient(circle, rgba(149, 162, 228, 0.8883928571428571) 0%, rgba(228, 230, 158, 1) 39%, rgba(173, 240, 233, 0.7147233893557423) 100%);

}