<mat-card class="mat-elevation-z8 ">
    <mat-card-header class="card-header ">
        <mat-card-subtitle>History of</mat-card-subtitle>
        <mat-card-title> {{model.title}} </mat-card-title>
    </mat-card-header>
    <mat-card-content class="card-content example-container ">
        <div class="example-loading-shade" *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults">Loading..</mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                No Records found
            </div>
        </div>
        <div class=" mat-elevation-z1 example-table-container">
            <table mat-table [dataSource]="data" matSort matSortActive="created" matSortDisableClear
                matSortDirection="desc">

                <!-- title -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by title">
                        {{'title'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.title}}</span>
                    </td>
                </ng-container>

                <!-- organization -->
                <ng-container matColumnDef="organization">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by organization">
                        {{'organization'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.organization.title}}</span>
                    </td>
                </ng-container>
                <!-- memoryType -->
                <ng-container matColumnDef="memoryType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by memoryType">
                        {{'memory type'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.memoryType.title}}</span>
                    </td>
                </ng-container>

                <!-- memoryType -->
                <ng-container matColumnDef="environmentType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by environmentType"> {{'environment type'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.environmentType?.title}}</span>
                    </td>
                </ng-container>

                <!-- userName -->
                <ng-container matColumnDef="userName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by userName">
                        {{'user name'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.userName}}</span>
                    </td>
                </ng-container>
                <!-- email -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email">
                        {{'email'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.email}}</span>
                    </td>
                </ng-container>
                <!-- hostOrIpAddress -->
                <ng-container matColumnDef="hostOrIpAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        sortActionDescription="Sort by hostOrIpAddress"> {{'host name/ip address'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.hostOrIpAddress}}</span>
                    </td>
                </ng-container>
                <!-- port -->
                <ng-container matColumnDef="port">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by port">
                        {{'port'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.port}}</span>
                    </td>
                </ng-container>
                <!-- password -->
                <ng-container matColumnDef="password">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by password">
                        {{'password'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.password}}</span>
                    </td>
                </ng-container>

                <!-- description -->
                <ng-container matColumnDef="description">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by description">
                        {{'description'}}</th>
                    <td mat-cell *matCellDef="let memory">
                        <span>{{memory.description}}</span>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table> 
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons
                aria-label="Select page"></mat-paginator>

            <!-- <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator> -->
        </div>
    </mat-card-content>
    <!-- <mat-card-footer class="card-footer">

</mat-card-footer> -->
</mat-card>