<app-loading [loading]="loading"></app-loading>
<form [formGroup]="form">
    <mat-card class="example-card mat-elevation-z0 container">
        <mat-card-content class="card-content ">

            <div fxLayout="column" fxFlexFill>
                <div fxFlex="100">
                    <app-input-field formControlName="phoneNumber" fxFlex="98" [class]="'example-form-field'"
                        [label]="'Phone Number'" [type]="'text'" [placeholder]="'Enter Phone Number'"
                        [control]="f['phoneNumber']" [validationMessages]="phoneNumberValidationMessages"
                        [elevation]="'0'">
                    </app-input-field>
                </div>
                <div fxFlex="100">
                    <app-input-field formControlName="password" fxLayoutGap="10px" fxFlex="98"
                        [class]="'example-form-field'" [label]="'Password'" [type]="'password'"
                        [placeholder]="'Enter password'" [control]="f['password']"
                        [validationMessages]="passwordValidationMessages" [successValidation]="'Looks good!'"
                        [elevation]="'0'">
                    </app-input-field>
                </div>
            </div>

        </mat-card-content>
        <mat-card-footer class="app-card-footer   ">
            <mat-card-actions *ngIf="errorMessage" class="card-footer-error  mat-elevation-z4 ">
                <mat-card-title>{{errorMessage}}</mat-card-title>
            </mat-card-actions>
            <mat-card-actions fxFlexAlign="center" class=" ">
                <div fxLayout="column" fxFlexFill>
                    <div fxLayout="column"  class=" "> 
                        <div fxLayout="row" fxFlexFill fxFlexAlign="center" class=" " fxFlex="100">
                            <button fxFlex="50" class="action-button" (click)="login()" mat-raised-button color="primary">
                                <mat-icon>login</mat-icon> Login
                            </button>
                            <button  fxFlex="50" class="action-button" mat-raised-button color="warn" type="button" (click)="reset()">
                                <mat-icon>settings_backup_restore</mat-icon>&nbsp;Reset
                            </button>
                        </div>
                    </div>
                </div> 
            </mat-card-actions> 
        </mat-card-footer>
    </mat-card>
</form>