/* .card-header {
  background: #C2DED1;
  background: radial-gradient(circle, rgba(149, 162, 228, 0.8883928571428571) 0%, rgba(230, 169, 158, 1) 39%, rgba(173, 240, 233, 0.7147233893557423) 100%);
}

.card-content {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-footer {
  text-align: center;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #d1eecd;

}
.mat-input-element{
  padding: 20px; 
}
.toogle{  
  margin-right: 40px;
} 
.example-button-row{
  margin: 4px;
} */




/* new */
/* .container-list{  
  height: calc(100vh - 520px);
  position: relative; 
  overflow: auto;
} */
.app-card {
  top: 60px;
  padding: 0px;
  margin: 0px;
  position: relative;
  overflow: auto;
  height: calc(100vh - 120px);
  background-color: #eefbf5;
}

.app-card-header {
  position: fixed;
  top: 60px;
  height: 74px;
  background-color: #cbf2df;   
  padding: 10px;
  padding-bottom: 0;
  width: 100%;
  z-index: 1000;  
}

.app-card-content { 
  top: 80px; 
  position: relative; 
  margin: 20px; 
}  

.actions-icon {
  font-size: xx-large ; color:#09a7a7;
  margin-top: -10px;
}

.actions {
  font-size: larger ; color: #09a7a7;
}

.example-card{
   text-align: center;
   /* background-color: #eefbf5;   */
   margin-top: 20px; 
}
.container{
  max-width: 500px;
} 
 
.card-footer-error { 
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: red;
  color: wheat;
}  

.card-content{ 
  background-color: white;    
}
 


.example-button-row{
  margin: 10px;
} 
.mat-card-actions{
  border-top: 1px solid #afdfc8;
  border-bottom: 1px solid #afdfc8;
  border-radius: 16px; 
  margin: 10px;
  padding: 10px;
}
/*  
.app-card-footer {
 
  background-color: #eefbf5;  
 width: 100%;
 z-index: 1000;  
 text-align: center; 
 margin: 0;  
 margin-bottom: 10px;
}   */

.action-button{
  margin: 3px;
}