.card-header {
  background: #C2DED1;
  background: radial-gradient(circle, rgba(149, 162, 228, 0.8883928571428571) 0%, rgba(230, 169, 158, 1) 39%, rgba(173, 240, 233, 0.7147233893557423) 100%);
}

.card-content {
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-footer {
  text-align: center;
  margin: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: beige;
}
.toogle{  
  margin-right: 40px;
} 

/* Add application styles & imports to this file! */

.bounds {
  background-color:gray;
  height :200px;
}

.sec1 {
  background: green;
  color:cyan;
  text-transform: uppercase
}

.sec2 {
  background: red;
  color:yellow;
  
}

.sec3 {
  background: yellow;
  color:red;
  text-transform: uppercase
}
.sec {
  background: gray;
  color:red;
  text-transform: uppercase
}

/* .sec1, .sec2, .sec3 {
  padding-top:20px;
  text-align:center
} */

.content {
  min-width: 300px;
  /*height: 400px;*/
}
/* .container .cardWrap div{
  height: 300px;
  border:2px solid gray;
  } */